*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display:none;
}

.container{
    height: auto;
    width: 100vw;
    border: 1px solid;
    padding: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100vw;
    padding: 1rem;
    height: auto;
    display: flex;
   background-color:#3673bc ;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
   height: 15vh;
}

.list{
display: flex;
gap: 1.8rem;
align-items: center;
font-size:1.2rem;

}
.list a{
    color: white;
}

.box{
    height: 5vh;
    width: 10vw;
    border-radius: 1.5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;

}
.box a{
    color:#3673bc;

}
.list a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
}
header{
    height:auto;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.box-1{
   height:60vh;
   width: 45vw;
  
  
}
.box-3{
   height:60vh;
   width: 45vw;
  
  
}
.box-3 img{
   height:60vh;
   width: 40vw;
   
  
}
.bold{
    font-size:2.8rem;
    color: white;
}
.box2{
    height: 6vh;
    width: 13vw;
    border-radius: 1.5rem;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.4rem;
    font-size: larger;

}
.round{
    height: 4vh;
    width: 2vw;
    color: white;
    text-align: center;
    border-radius: 1rem;
    background-color:black;
}

 .second{
    height:70vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(130, 16, 16);
}
.box-4{
   height:60vh;
   width: 45vw;
  
  
}
.round1{
    height: 4vh;
    width: 2vw;
    color: white;
    text-align: center;
    border-radius: 1rem;
    background-color:rgb(130, 16, 16);
} 

.container-1{
    height:70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(170, 170, 35);

}
.box-5{
   height:70vh;
   width: 45vw;
   /* padding: 1rem; */
  
}
.round3{
    background-color:rgb(170, 170, 35);
    height: 4vh;
    width: 2vw;
    text-align: center;
    border-radius: 1rem;
    color:white;

} 
.bold-1{
    font-size:1.4rem;
    color: white;
   
}
.box-6{
   height:50vh;
   width: 45vw;
 
  
  
}
.box-6 img{
   height:60vh;
   width: 40vw;

  
}
.box-5 img{
   height:60vh;
   width: 45vw;
   
}
.box2-e{
    height: 6vh;
    width: 13vw;
    border-radius: 1.5rem;
    background-color:white;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.4rem;
    font-size: larger;
    color: #3673bc;

}

.container-2{
   height:70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(116, 161, 47);
    color: white;
 
}
.box-6 img{
    height: 50vh;
    width: 60%;
}
.box-5 img{
    height: 50vh;
    width: 70%;
}


.round4{
    background-color:rgb(116, 161, 47);
    height: 4vh;
    width: 2vw;
    text-align: center;
    border-radius: 1rem;
    color:white;

} 


.container-3{
   height:70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:blueviolet;
    color: white;
 
}


.round5{
    background-color:blueviolet;
    height: 4vh;
    width: 2vw;
    text-align: center;
    border-radius: 1rem;
    color:white;

} 

footer{
    height: auto;
    padding: 2rem;
    width: 100vw;
    background-color:#3673bc ;
}
main{
   height: auto;
    width: 95vw;  
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    color: white;
}
hr{
    height:1px;
    width:90%;
    
}
@media (max-width: 767px) {
    
    /* FIX: Prevents horizontal scrollbar caused by 100vw/95vw */
    .container, nav, header, .second, .container-1, .container-2, .container-3 {
        width: 100%;
    }

    /* Navigation: Stacked Menu */
    nav {
        flex-direction: column;
        height: auto;
        padding: 1rem 0.5rem;
        justify-content: center;
    }
    .list {
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
        font-size: 1rem;
    }
    .box {
        /* Set a fixed max-width for button on mobile */
        width: 70%;
        max-width: 150px; 
        height: 40px;
        margin-top: 1rem;
        font-size: 1rem;
    }

    /* Header and Sections: Stacked Content */
    header, .second, .container-1, .container-2, .container-3 {
        /* Key Change: Stacks all content vertically */
        flex-direction: column; 
        height: auto; /* Auto height to fit content */
        padding: 1rem 0;
    }

    /* Content Boxes: Full Width for Mobile Readability */
    .box-1, .box-3, .box-4, .box-5, .box-6 {
        /* Key Change: Full width for content */
        width: 90%; 
        height: auto; 
        padding: 1rem;
        margin: 0.5rem 0;
        text-align: center;
    }

    /* Images: Fluid Sizing */
    .box-3 img, .box-6 img, .box-5 img {
        /* Ensure images scale down */
        max-width: 100%; 
        width: auto;
        height: auto;
        margin: 1rem auto;
    }
.box-1 img{
     max-width: 100%; 
        width: auto;
        height: auto;
        margin: 1rem auto;
}
    /* Text Sizes */
    .bold { font-size: 2rem; }
    .bold-1 { font-size: 1.2rem; }

    /* CTA Buttons: Better Mobile Size */
    .box2, .box2-e {
        width: 60%;
        max-width: 200px;
        height: 50px;
        margin: 1rem auto;
        font-size: 1rem;
    }
    
    /* Round Elements: Fixed PX size for circles */
    .round, .round1, .round3, .round4, .round5 {
        height: 30px; 
        width: 30px; 
        line-height: 30px;
        border-radius: 50%; /* Ensures perfect circle */
        font-size: 1rem;
        display: inline-block;
    }
}